* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: rgba(159, 182, 230, 0.664);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.score {
    color: rgb(73, 205, 209);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro {
    color: rgb(73, 205, 209);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}

.intro button,
.match button {
    border: none;
    background-color: rgba(3, 103, 252, 0.664);
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner {
    color: white;
    text-align: center;
}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeout {
    opacity: 0;
    pointer-events: none;
}

div.fadein {
    opacity: 1;
    pointer-events: all;
}